@charset "UTF-8";
/* 共通設定 */
* {
  margin: 0;
}

html {
  background-color: #f5f5f5;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #333;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

li {
  margin-bottom: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

input[type=text] {
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
  padding: 4px 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 1px #fff;
  background-color: transparent;
  color: #fff;
}

button {
  font-family: "Noto Sans JP", sans-serif;
  padding: 6px 12px;
  border-radius: 4px;
  border: solid 1px #fff;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
}

button:hover {
  opacity: 0.5;
}

iframe {
  width: 100%;
}

/* ユーティリティー */
.container {
  padding: 0 8px;
}

@media (min-width: 1024px) {
  .container {
    padding: 0 32px;
    box-sizing: border-box;
    width: 1024px;
    margin: 0 auto;
  }
}
@media (min-width: 1366px) {
  .container {
    width: 1366px;
  }
}
.diary {
  background-color: #fff;
  padding: 32px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 32px;
}

.diary > a {
  display: block;
  width: 100%;
  height: 100%;
}

.diary-title {
  margin-bottom: 8px;
  font-size: 22px;
  color: #333;
}

.meta {
  margin-bottom: 32px;
  color: #999;
  font-size: 14px;
}

.contents > p {
  color: #333;
  line-height: 2;
  margin-bottom: 2em;
}

.contents > p:last-of-type {
  margin-bottom: 0;
}

.text-left {
  text-align: left;
}

.field {
  width: 100%;
  position: relative;
}

.search-btn {
  position: absolute;
  width: 38px;
  height: 38px;
  top: calc(50% - 19px);
  right: 0;
  border: none;
  background: transparent;
}

.search-btn::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff;
}

.search-btn::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 6px;
  top: calc(50% + 6px);
  left: calc(50% + 2px);
  border-top: solid 2px #fff;
  transform: rotate(45deg);
}

/* ヘッダー */
#site-header {
  padding: 100px 0;
  text-align: center;
  background-color: #3E637D;
  color: #fff;
}

p#title {
  font-size: 40px;
  color: #fff;
}

p#subtitle {
  color: #fff;
}

img#hero {
  width: 200px;
}

/* フッター */
#site-footer {
  padding: 32px 0;
  background-color: #3E637D;
}

#site-footer ul {
  list-style-type: none;
}

#site-footer a {
  color: #fff;
}

#site-footer a:hover {
  opacity: 0.5;
}

#footer-container > * {
  margin-bottom: 32px;
}

#footer-container > ul {
  padding: 0;
}

@media (min-width: 1024px) {
  #footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* メインコンテンツ スマホ */
.section-title, .back {
  font-weight: 300;
  font-size: 16px;
  color: #999;
  padding: 16px 0;
}

nav#page {
  margin-top: -16px;
  margin-bottom: 16px;
}

nav#page > * {
  margin-right: 20px;
  color: #999;
}

nav#page > a {
  text-decoration: none;
}

/* メインコンテンツ タブレット横向き */
@media (min-width: 1024px) {
  #diary-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    column-gap: 32px;
  }

  #diary-list > * {
    grid-column: 1/-1;
  }

  #diary-list > article {
    grid-column: auto;
  }

  #diary-detail {
    width: 600px;
    margin: 0 auto;
  }
}
/* メインコンテンツ PC */
@media (min-width: 1366px) {
  #diary-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

